pipeline/pl_ControlCargas.json
{
	"name": "pl_ControlCargas",
	"properties": {
		"activities": [
			{
				"name": "Lkp-CC-SQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM conf.ControlCargas\nWHERE Proceso = '@{pipeline().parameters.Proceso}'\nAND Subproceso = '@{pipeline().parameters.Subproceso}'\nAND SistemaFuente = '@{pipeline().parameters.SistemaFuente}'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_TABLES",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "conf",
							"Table": "ControlCargas"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach-CC",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lkp-CC-SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lkp-CC-SQL').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "IsFull",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(item().IndicadorCargaFull)\n\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "UpdateCampoDelta_copy1",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Copy_From_SAP_To_ADLS_Delta",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "LS_SQL",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "UPDATE conf.ControlCargas set ValorCampoDelta1 = '@{substring(variables('TimeNow'), 0, 8)}', ValorCampoDelta2 = '@{substring(variables('TimeNow'), 8, 6)}'\nWHERE PkControlCargas = '@{item().PkControlCargas}'\nAND Proceso = '@{item().Proceso}'\nAND Subproceso = '@{item().Subproceso}'\nAND SistemaFuente = '@{item().SistemaFuente}'",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Copy_From_SAP_To_ADLS_Delta",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "TimeNow",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT @{item().ColumnasArchivoFuente}\nFROM\n@{item().BaseDatosFuente}.@{item().ArchivoFuente}\n@{replace(\n            replace(\n                        item().FiltrosArchivoFuenteParsed, '{variableDF1}', substring(variables('TimeNow'), 0, 8)\n                    ), '{variableDF2}', substring(variables('TimeNow'), 8, 6)\n        )\n}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_TABLES",
												"type": "DatasetReference",
												"parameters": {
													"Schema": {
														"value": "@{item().EsquemaFuente}",
														"type": "Expression"
													},
													"Table": {
														"value": "@{item().ArchivoFuente}",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ADLS",
												"type": "DatasetReference",
												"parameters": {
													"Ruta": {
														"value": "@{item().RutaArchivoDestino}/@{variables('TimeNow')}",
														"type": "Expression"
													},
													"Archivo": {
														"value": "@item().ArchivoDestino",
														"type": "Expression"
													},
													"Container": {
														"value": "@item().ContenedorDestino",
														"type": "Expression"
													},
													"Extension": {
														"value": "@item().ExtensionArchivoDestino",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "SP_Success_Full",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "UpdateCampoDelta_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[conf].[PostLogAuditoriaCargas]",
											"storedProcedureParameters": {
												"EstadoEjecucion": {
													"value": "1",
													"type": "Int32"
												},
												"FilasCopiadas": {
													"value": {
														"value": "@activity('Copy_From_SAP_To_ADLS_Delta').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"FilasLeidas": {
													"value": {
														"value": "@activity('Copy_From_SAP_To_ADLS_Delta').output.rowsRead",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"FkControlCargas": {
													"value": {
														"value": "@item().PkControlCargas",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"LogDataFactory": {
													"value": {
														"value": "@string(activity('Copy_From_SAP_To_ADLS_Delta').output.executionDetails)",
														"type": "Expression"
													},
													"type": "String"
												},
												"ArchivoFuente": {
													"value": {
														"value": "@item().ArchivoFuente",
														"type": "Expression"
													},
													"type": "String"
												},
												"NombreTrigger": {
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													},
													"type": "String"
												},
												"Pipeline": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"TiempoCopiado": {
													"value": {
														"value": "@activity('Copy_From_SAP_To_ADLS_Delta').output.copyDuration",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQL",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "SP_Failure_Full",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy_From_SAP_To_ADLS_Delta",
												"dependencyConditions": [
													"Failed"
												]
											},
											{
												"activity": "UpdateCampoDelta_copy1",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[conf].[PostLogAuditoriaCargas]",
											"storedProcedureParameters": {
												"EstadoEjecucion": {
													"value": "0",
													"type": "Int32"
												},
												"FilasCopiadas": {
													"value": null,
													"type": "Int32"
												},
												"FilasLeidas": {
													"value": null,
													"type": "Int32"
												},
												"FkControlCargas": {
													"value": {
														"value": "@item().PkControlCargas",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"LogDataFactory": {
													"value": {
														"value": "@string(activity('Copy_From_SAP_To_ADLS_Delta').output.executionDetails)",
														"type": "Expression"
													},
													"type": "String"
												},
												"ArchivoFuente": {
													"value": {
														"value": "@item().ArchivoFuente",
														"type": "Expression"
													},
													"type": "String"
												},
												"NombreTrigger": {
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													},
													"type": "String"
												},
												"Pipeline": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"TiempoCopiado": {
													"value": null,
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQL",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "TimeNow",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "TimeNow",
											"value": {
												"value": "@{formatDateTime(subtractFromTime(utcNow(), 300, 'Minute'), 'yyyyMMddHHmmss')}",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "SP_Success",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy_From_SAP_To_ADLS_Full",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[conf].[PostLogAuditoriaCargas]",
											"storedProcedureParameters": {
												"EstadoEjecucion": {
													"value": "1",
													"type": "Int32"
												},
												"FilasCopiadas": {
													"value": {
														"value": "@activity('Copy_From_SAP_To_ADLS_Full').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"FilasLeidas": {
													"value": {
														"value": "@activity('Copy_From_SAP_To_ADLS_Full').output.rowsRead",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"FkControlCargas": {
													"value": {
														"value": "@item().PkControlCargas",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"LogDataFactory": {
													"value": {
														"value": "@string(activity('Copy_From_SAP_To_ADLS_Full').output.executionDetails)",
														"type": "Expression"
													},
													"type": "String"
												},
												"ArchivoFuente": {
													"value": {
														"value": "@item().ArchivoFuente",
														"type": "Expression"
													},
													"type": "String"
												},
												"NombreTrigger": {
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													},
													"type": "String"
												},
												"Pipeline": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"TiempoCopiado": {
													"value": {
														"value": "@activity('Copy_From_SAP_To_ADLS_Full').output.copyDuration",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQL",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "SP_Failure",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy_From_SAP_To_ADLS_Full",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[conf].[PostLogAuditoriaCargas]",
											"storedProcedureParameters": {
												"EstadoEjecucion": {
													"value": "0",
													"type": "Int32"
												},
												"FilasCopiadas": {
													"value": null,
													"type": "Int32"
												},
												"FilasLeidas": {
													"value": null,
													"type": "Int32"
												},
												"FkControlCargas": {
													"value": {
														"value": "@item().PkControlCargas",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"LogDataFactory": {
													"value": {
														"value": "@string(activity('Copy_From_SAP_To_ADLS_Full').output)",
														"type": "Expression"
													},
													"type": "String"
												},
												"ArchivoFuente": {
													"value": {
														"value": "@item().ArchivoFuente",
														"type": "Expression"
													},
													"type": "String"
												},
												"NombreTrigger": {
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													},
													"type": "String"
												},
												"Pipeline": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"TiempoCopiado": {
													"value": null,
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQL",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Copy_From_SAP_To_ADLS_Full",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "SELECT @{item().ColumnasArchivoFuente}\nFROM\n@{item().EsquemaFuente}.@{item().ArchivoFuente}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_TABLES",
												"type": "DatasetReference",
												"parameters": {
													"Schema": {
														"value": "@{item().EsquemaFuente}",
														"type": "Expression"
													},
													"Table": {
														"value": "@{item().ArchivoFuente}",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ADLS",
												"type": "DatasetReference",
												"parameters": {
													"Ruta": {
														"value": "@item().RutaArchivoDestino",
														"type": "Expression"
													},
													"Archivo": {
														"value": "@item().ArchivoDestino",
														"type": "Expression"
													},
													"Container": {
														"value": "@item().ContenedorDestino",
														"type": "Expression"
													},
													"Extension": {
														"value": "@item().ExtensionArchivoDestino",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Proceso": {
				"type": "string",
				"defaultValue": "Comercial"
			},
			"SistemaFuente": {
				"type": "string",
				"defaultValue": "HANA"
			},
			"Subproceso": {
				"type": "string",
				"defaultValue": "Subpr_1"
			}
		},
		"variables": {
			"TimeNow": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-06-23T15:49:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}