adf-eus2-ltexam-joaco-dev/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-eus2-ltexam-joaco-dev"
		},
		"LS_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS'"
		},
		"LS_SQL_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_SQL'"
		},
		"LS_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlseus2ltexamjoacodev.dfs.core.windows.net/"
		},
		"ARQLR02-Shared_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/edff7a7d-111f-466f-9d0b-4f96151ffc5c/resourcegroups/ModernaRG01/providers/Microsoft.DataFactory/factories/ModernaDataFactory02/integrationruntimes/ArqIR02"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "To Connect to the SQL Server Database",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_SQL_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ARQLR02-Shared')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('ARQLR02-Shared_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Ruta": {
						"type": "string"
					},
					"Archivo": {
						"type": "string"
					},
					"Container": {
						"type": "string"
					},
					"Extension": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{dataset().Archivo}.@{dataset().Extension}",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Ruta",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_TABLES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Schema": {
						"type": "string"
					},
					"Table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().Schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().Table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ControlCargas')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lkp-CC-SQL",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM conf.ControlCargas\nWHERE Proceso = '@{pipeline().parameters.Proceso}'\nAND Subproceso = '@{pipeline().parameters.Subproceso}'\nAND SistemaFuente = '@{pipeline().parameters.SistemaFuente}'\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_TABLES",
								"type": "DatasetReference",
								"parameters": {
									"Schema": "conf",
									"Table": "ControlCargas"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach-CC",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lkp-CC-SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lkp-CC-SQL').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "IsFull",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(item().IndicadorCargaFull)\n\n",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "UpdateCampoDelta_copy1",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "Copy_From_SAP_To_ADLS_Delta",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "LS_SQL",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "UPDATE conf.ControlCargas set ValorCampoDelta1 = '@{substring(variables('TimeNow'), 0, 8)}', ValorCampoDelta2 = '@{substring(variables('TimeNow'), 8, 6)}'\nWHERE PkControlCargas = '@{item().PkControlCargas}'\nAND Proceso = '@{item().Proceso}'\nAND Subproceso = '@{item().Subproceso}'\nAND SistemaFuente = '@{item().SistemaFuente}'",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "Copy_From_SAP_To_ADLS_Delta",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "TimeNow",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT @{item().ColumnasArchivoFuente}\nFROM\n@{item().EsquemaFuente}.@{item().ArchivoFuente}\n@{replace(\n            replace(\n                        item().FiltrosArchivoFuenteParsed, '{variableDF1}', substring(variables('TimeNow'), 0, 8)\n                    ), '{variableDF2}', substring(variables('TimeNow'), 8, 6)\n        )\n}",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_SQL_TABLES",
														"type": "DatasetReference",
														"parameters": {
															"Schema": {
																"value": "@{item().EsquemaFuente}",
																"type": "Expression"
															},
															"Table": {
																"value": "@{item().ArchivoFuente}",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_PARQUET",
														"type": "DatasetReference",
														"parameters": {
															"Ruta": {
																"value": "@{item().RutaArchivoDestino}/@{variables('TimeNow')}",
																"type": "Expression"
															},
															"Archivo": {
																"value": "@item().ArchivoDestino",
																"type": "Expression"
															},
															"Container": {
																"value": "@item().ContenedorDestino",
																"type": "Expression"
															},
															"Extension": {
																"value": "@item().ExtensionArchivoDestino",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "SP_Success_Full",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "UpdateCampoDelta_copy1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[conf].[PostLogAuditoriaCargas]",
													"storedProcedureParameters": {
														"EstadoEjecucion": {
															"value": "1",
															"type": "Int32"
														},
														"FilasCopiadas": {
															"value": {
																"value": "@activity('Copy_From_SAP_To_ADLS_Delta').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"FilasLeidas": {
															"value": {
																"value": "@activity('Copy_From_SAP_To_ADLS_Delta').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"FkControlCargas": {
															"value": {
																"value": "@item().PkControlCargas",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"LogDataFactory": {
															"value": {
																"value": "@string(activity('Copy_From_SAP_To_ADLS_Delta').output.executionDetails)",
																"type": "Expression"
															},
															"type": "String"
														},
														"ArchivoFuente": {
															"value": {
																"value": "@item().ArchivoFuente",
																"type": "Expression"
															},
															"type": "String"
														},
														"NombreTrigger": {
															"value": {
																"value": "@pipeline().TriggerTime",
																"type": "Expression"
															},
															"type": "String"
														},
														"Pipeline": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"TiempoCopiado": {
															"value": {
																"value": "@activity('Copy_From_SAP_To_ADLS_Delta').output.copyDuration",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_SQL",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "SP_Failure_Full",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy_From_SAP_To_ADLS_Delta",
														"dependencyConditions": [
															"Failed"
														]
													},
													{
														"activity": "UpdateCampoDelta_copy1",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[conf].[PostLogAuditoriaCargas]",
													"storedProcedureParameters": {
														"EstadoEjecucion": {
															"value": "0",
															"type": "Int32"
														},
														"FilasCopiadas": {
															"value": null,
															"type": "Int32"
														},
														"FilasLeidas": {
															"value": null,
															"type": "Int32"
														},
														"FkControlCargas": {
															"value": {
																"value": "@item().PkControlCargas",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"LogDataFactory": {
															"value": {
																"value": "@string(activity('Copy_From_SAP_To_ADLS_Delta').output.executionDetails)",
																"type": "Expression"
															},
															"type": "String"
														},
														"ArchivoFuente": {
															"value": {
																"value": "@item().ArchivoFuente",
																"type": "Expression"
															},
															"type": "String"
														},
														"NombreTrigger": {
															"value": {
																"value": "@pipeline().TriggerTime",
																"type": "Expression"
															},
															"type": "String"
														},
														"Pipeline": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"TiempoCopiado": {
															"value": null,
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_SQL",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "TimeNow",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "TimeNow",
													"value": {
														"value": "@{formatDateTime(subtractFromTime(utcNow(), 300, 'Minute'), 'yyyyMMddHHmmss')}",
														"type": "Expression"
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "SP_Success",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy_From_SAP_To_ADLS_Full",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[conf].[PostLogAuditoriaCargas]",
													"storedProcedureParameters": {
														"EstadoEjecucion": {
															"value": "1",
															"type": "Int32"
														},
														"FilasCopiadas": {
															"value": {
																"value": "@activity('Copy_From_SAP_To_ADLS_Full').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"FilasLeidas": {
															"value": {
																"value": "@activity('Copy_From_SAP_To_ADLS_Full').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"FkControlCargas": {
															"value": {
																"value": "@item().PkControlCargas",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"LogDataFactory": {
															"value": {
																"value": "@string(activity('Copy_From_SAP_To_ADLS_Full').output.executionDetails)",
																"type": "Expression"
															},
															"type": "String"
														},
														"ArchivoFuente": {
															"value": {
																"value": "@item().ArchivoFuente",
																"type": "Expression"
															},
															"type": "String"
														},
														"NombreTrigger": {
															"value": {
																"value": "@pipeline().TriggerTime",
																"type": "Expression"
															},
															"type": "String"
														},
														"Pipeline": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"TiempoCopiado": {
															"value": {
																"value": "@activity('Copy_From_SAP_To_ADLS_Full').output.copyDuration",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_SQL",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "SP_Failure",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy_From_SAP_To_ADLS_Full",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[conf].[PostLogAuditoriaCargas]",
													"storedProcedureParameters": {
														"EstadoEjecucion": {
															"value": "0",
															"type": "Int32"
														},
														"FilasCopiadas": {
															"value": null,
															"type": "Int32"
														},
														"FilasLeidas": {
															"value": null,
															"type": "Int32"
														},
														"FkControlCargas": {
															"value": {
																"value": "@item().PkControlCargas",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"LogDataFactory": {
															"value": {
																"value": "@string(activity('Copy_From_SAP_To_ADLS_Full').output)",
																"type": "Expression"
															},
															"type": "String"
														},
														"ArchivoFuente": {
															"value": {
																"value": "@item().ArchivoFuente",
																"type": "Expression"
															},
															"type": "String"
														},
														"NombreTrigger": {
															"value": {
																"value": "@pipeline().TriggerTime",
																"type": "Expression"
															},
															"type": "String"
														},
														"Pipeline": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"TiempoCopiado": {
															"value": null,
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_SQL",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Copy_From_SAP_To_ADLS_Full",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT @{item().ColumnasArchivoFuente}\nFROM\n@{item().EsquemaFuente}.@{item().ArchivoFuente}",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_SQL_TABLES",
														"type": "DatasetReference",
														"parameters": {
															"Schema": {
																"value": "@{item().EsquemaFuente}",
																"type": "Expression"
															},
															"Table": {
																"value": "@{item().ArchivoFuente}",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_PARQUET",
														"type": "DatasetReference",
														"parameters": {
															"Ruta": {
																"value": "@{item().RutaArchivoDestino}",
																"type": "Expression"
															},
															"Archivo": {
																"value": "@{item().ArchivoDestino}",
																"type": "Expression"
															},
															"Container": {
																"value": "@{item().ContenedorDestino}",
																"type": "Expression"
															},
															"Extension": {
																"value": "@{item().ExtensionArchivoDestino}",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Proceso": {
						"type": "string",
						"defaultValue": "LiderTecnico"
					},
					"SistemaFuente": {
						"type": "string",
						"defaultValue": "SQL"
					},
					"Subproceso": {
						"type": "string",
						"defaultValue": "Subpr_2"
					}
				},
				"variables": {
					"TimeNow": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Orquestador"
				},
				"annotations": [],
				"lastPublishTime": "2023-06-23T15:49:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_TABLES')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_PARQUET')]"
			]
		}
	]
}